 
body {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

nav {
  background-color: #3aafe0;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 1000;
}

nav .logo img {
  height: 50px;
}

nav ul.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  
}

nav ul.nav-links li {
  margin: 0 15px;
}

nav ul.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul.nav-links li a:hover {
  color: #19cb1f; 
  transition: color 0.3s ease; 
} 

/* Hide the checkbox (toggle) */
#menu-toggle {
  display: none;
}

/* Hide menu icon on large screens */
.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}

/*Hide menu for small screens */
/* Responsive Design */
@media (min-width: 360px) and (max-width: 760px) {
  nav ul.nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #3aafe0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  nav ul.nav-links.active {
    display: flex;
  }

  .menu-icon{
    display: block;
  }
}


section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.hero {
  background: #f4f4f4;
  background-image: url(../assets/bottle-2032980.jpg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
  color:#f8f8f8;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#home h1 {
  font-size: 4rem; 
  font-weight: bold;
  margin-top: 0px; 
}

#home p {
  font-size: 2rem;
  margin-top: 10px;
}

@media (min-width: 360px) and (max-width: 760px) {
  #home h1 {
    font-size: 2.5rem; /* Adjusted for mobile */
  }

  #home p {
    font-size: 1.2rem; /* Adjusted for mobile */
  }
}

@media(min-width: 360px) and (max-width: 760px){
  .hero {
    height: auto; /* Let content define height */
    padding: 20px 0; /* Adjust padding */
  }
}


.about {
background: #61caff; 
border: 2px solid white;
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
 justify-content: center;
 max-width: 100%;
 box-sizing: border-box;
}
.about h2{
  font-size:2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem; 
}
.about h3{
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem; 
}

.about p{
  font-size: 1rem;
  font-weight: bolder;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media (min-width: 360px) and (max-width: 760px) {
  .about {
    padding: 40px 20px; /* Reduce padding */
    
  }
  .about h3 {
    font-size: 1rem;
    margin-top: 0.8rem;
  }
  .about h2 {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-top: 0.5rem;
  }
  .about p {
    font-size: 0.9rem; /* Adjusted for mobile */
    line-height: 1.4; /* Prevents text from being too compact */
    word-wrap: break-word;
    max-width: 100%;
    word-wrap:break-word;
    margin-top: 0.8rem;
  }

  @media (max-width: 359px) {
    .about {
      padding: 10px;
    }
    .about h3 {
      font-size: 1.5rem;
    }
    .about p {
      font-size: 0.9rem;
    }
  }
}


.careers {
  background: #3aafe0;
  border: 2px solid #3aafe0;
}


.cta-button {
  padding: 10px 20px;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}


footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
} 


.contact_us_green * {
    font-family: Nunito, sans-serif;
    margin-bottom: 0%;
  }
  
  .contact_us_green .responsive-container-block {
    min-height:100px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .contact_us_green .responsive-container-block .responsive-cell-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
  
  .contact_us_green input:focus {
    outline-color: initial;
    outline-style:none;
    outline-width: initial;
  }
  
  .contact_us_green textarea:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  
  .contact_us_green .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 30px;
  }
  
  
  .contact_us_green .responsive-container-block.big-container {
    padding: 0px 0px 50px 50px;
    display:flex;   
  }
  
  .contact_us_green .text-blk.contactus-head {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .contact_us_green .text-blk.contactus-subhead {
    max-width: 385px;
    color: white;
    font-size: 18px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  
  .contact_us_green .contact-svg {
    width: 50px;
    height: 50px;
    margin: 0px 0px 0px;
  }
  
  .contact_us_green .social-media-links {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .contact_us_green .social-svg {
    width: 35px;
    height: 35px;

  }
  
  .contact_us_green .text-box {
    display:flex;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: px;
    margin-left: 50px;
    position:relative;
  }
  
  .contact_us_green .contact-text {
    color: white;
  }
  
  .contact_us_green .form-box, .contact_us_green.workik-contact-box{
    display:block;
  }
  .contact_us_green .input {
    height: 50px;
    width: 90%;
    border: 2px solid #3aafe0;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 10px;
   margin-bottom: 15px;
  }
  
  .contact_us_green .textinput {
    height: 150px;
    width: 100%;
    border:2px solid #0e8ec5;
    border-radius:5px;
    font-size: 16px;
    padding: 10px;
    margin: 0px 0px 20px 0px ;
  }

  @media (min-width: 360px) and (max-width: 760px) {
    .contact_us_green .responsive-container-block.big-container {
      padding: 0 20px; /* Adjusted padding for smaller screens */
    }
  }
  
  .contact_us_green .submit-btn {
    min-width: 290px;
    height: 60px;
    background-color: #0e8ec5;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: 2px solid #0e8ec5;
    border-radius: 5px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    cursor: pointer;
  }
  
  .contact_us_green .btn-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .contact_us_green .text-blk.input-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin:0;
    padding: 0;
  }
  
  .contact_us_green .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  
  .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
   align-items: center;
   background-color: #3aafe0;
   padding: 80px 0px 80px 0px;
   
  }
  
  .contact_us_green .head-text-box {
    margin-bottom: -140px;
  }
  
  .contact_us_green .line {
    border-right-width: 1.8px;
    border-right-style: solid;
    border-right-color: #3aafe0;
  }
  
  .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  @media (min-width: 360px) and (max-width: 760px) {
    .contact_us_green .responsive-container-block.container {
      justify-content: center;
      display: flex;
      margin-bottom:100px;
    }
  
    .contact_us_green .text-blk.contactus-subhead {
      max-width: 90%;
    }
  
    .contact_us_green .head-text-box {
      display: block;
    }
  
    .contact_us_green .line {
      border-right-width: initial;
      border-right-style: none;
      border-right-color: initial;
      border-bottom-width: 1.8px;
      border-bottom-style: solid;
      border-bottom-color: #a2a2a2;
    }
  
    .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
      margin-top: 60px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_green .workik-contact-bigbox {
      display: flex;
    }
  
    .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  }

 
  @media (min-width: 360px) and (max-width: 760px) {
    .contact_us_green .text-content {
      display: none;
    }
  
    .contact_us_green .input {
      width: 100%;
    }
  
    .contact_us_green .textinput {
      width: 100%;
    }
  
    .contact_us_green .text-blk.contactus-head {
      font-size: 30px;
    }
  }

  @media (min-width: 360px) and (max-width: 760px) {
    .contact_us_green .responsive-container-block.big-container {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .contact_us_green .workik-contact-bigbox {
      display: block;
    }
  
    .contact_us_green .text-blk.input-title {
      font-size: 16px;
    }
  
    .contact_us_green .text-blk.contactus-head {
      font-size: 26px;
    }
  
    .contact_us_green .text-blk.contactus-subhead {
      font-size: 16px;
      line-height: 23px;
    }
  
    .contact_us_green .input {
      height: 45px;
    }
  
    .contact_us_green .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      margin: 0 0 25px 0;
    }
  }
  
 

  *,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media(min-width: 360px) and (max-width: 760px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (min-width: 360px) and (max-width: 760px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (min-width: 360px) and (max-width: 760px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}



.careers * {
  
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.careers .container {
  max-width: 900px;
  margin: 0 auto;
  margin: -50px 0px 0px 0px;
  
}

.careers .apply_box {
  max-width: 650px;
  padding: 20px;
  background: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
  border-radius: 10px;
}

.careers h1, .careers a {
  text-decoration: none;
  color: black;
}

.careers h1 a:hover {
  color: blue;
}

.careers .title_small {
  font-size: 17px;
}

.careers .form_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.careers .form_control {
  display: flex;
  flex-direction: column;
}

.careers label {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}

.careers input,
.careers select,
.careers textarea {
  padding: 6px 10px;
  border: 1px solid #ada3a3;
  border-radius: 5px;
  font-size: 15px;
}

.careers input:focus {
  outline-color: blue;
}

.careers input.file:focus {
  background: blue;
  color: #fff;
}

.careers #result {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 5px;
}

.careers #result:hover {
  background: lightgray;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.careers .thumbnail {
  width: 100px;
}

.careers .button_container {
  
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.careers button {
  background: rgb(38, 181, 221);
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  transition: 1s ease-in;
}

.careers button:hover {
  background: green;
  color: #fff;
  transition: 1s ease-out;
}

.careers .textarea_control {
  grid-column: 1 / span 2;
}

.careers .textarea_control textarea {
  width: 100%;
}

@media (min-width: 360px) and (max-width: 760px) {
  .careers .form_container {
    grid-template-columns: 1fr; /* Single column on small screens */
  }
  .careers .textarea_control {
    grid-column: 1 / span 1;
  }
}



